[submodule "janus/snipmate-snippets"]
	path = janus/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "janus/zencoding"]
	path = janus/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "janus/gundo"]
	path = janus/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "janus/extradite"]
	path = janus/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/smartinput"]
	path = janus/smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "janus/badwolf"]
	path = janus/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "janus/vimux"]
	path = janus/vimux
	url = https://github.com/benmills/vimux.git
[submodule "janus/turbux"]
	path = janus/turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "janus/tabular"]
	path = janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "janus/preview"]
	path = janus/preview
	url = https://github.com/greyblake/vim-preview.git
