snippet fun "CoffeeScript Function" !i
${1:($2)}->
  $0
endsnippet

snippet expect "Jasmine Expect" i
expect($1).to$2($3)
endsnippet

snippet expecttb "Jasmine Expect - toBe" i
expect($1).toBe($2)
endsnippet
